.nav-link.active {
    font-weight: bold !important;
}

cf-checkbox,
cf-dropdown,
cf-text-field,
cf-textarea {
    width: 700px !important;
}

cf-text-field#projectId .clr-col-6 {
    flex: 0 0 25%;
    max-width: 25%;
}

.clr-col-6 {
    flex: 0 0 60%;
    max-width: 60%;
}
.clr-col-md-4 {
    flex: 0 0 25% !important;
}
