.nav-link.active {
    font-weight: bold !important;
}

#datagrid_clusterParameters,
#multiSelect_namespaces {
    width: 800px !important;
}

#text_namespace_parameters,
#text_cluster_parameters {
    font-size: larger;
    font-weight: bold;
    border-bottom: black 1px dotted;
    padding: 0 0 2px 0;
    color: red !important;
}

cf-checkbox,
cf-dropdown,
cf-text-field,
cf-textarea {
    width: 800px !important;
}

.clr-col-6 {
    flex: 0 0 60%;
    max-width: 60%;
}
.clr-col-md-4 {
    flex: 0 0 30% !important;
}
