#section_caution label,
#section_caution input {
    font-weight: bold;
    color: red;
}


.nav-link.active {
    font-weight: bold !important;
}

.clr-col-6 {
    flex: 0 0 60% !important;
    max-width: 60%;
}
.clr-col-md-4 {
    flex: 0 0 30% !important;
}
