#text_9f7413cf, #text_de24297e {
    font-size: x-large;
    border-bottom: black 2px dotted;
    padding: 10px;
}

/* to make all items in dropdown red#input_BackupTag option {    color: red !important;}*/
