#vraHeader, #volHeader {
    font-size: x-large;
    border-bottom: black 2px dotted;
    padding: 10px;
}

#input_sizeGB, #input_snapPercent {
    text-align: right;
}

#text_38736157 {
    font-size: x-large;
    color: orangered;
}
/*
.clr-col-6 {
    flex: 0 0 80%;
}
.cf-form .cf-form-group .cf-form-control {
    width: 200%;
}
/* to make all items in dropdown red#input_BackupTag option {    color: red !important;}*/
